// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tournaments-container{
  margin: 0 50px 0px 50px;

  .tournament{
    width: 200px;
    height: 250px;
    color: #333333;
    background-color: #CCCCCC;
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;

    .header{
      background-color: #F2F2F2;
      padding: 10px 0px 10px 0px;

      h5{
        text-align: center;
      }

      img{
        height: 100px;
        width: 100px;
        display: block;
        margin: auto;
      }
    }

    .label-header{
      font-weight: bold;
    }

    .footer{
      font-size: 14px;
      padding-top: 10px;
    }

    &:hover{
      background-color: #D9D9D9;
    }
  }
}

#floating-action-button{
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#tournament-show-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#tournament-show-footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: fixed;
  bottom: 0px;

  a{
    margin: 0px 20px;
  }
}